#title{
  color:#00ccff;
}
nav{
  font-family: fantasy;
  position: fixed;
  top: 0;
}
li{
  display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color:#00BFFF
}
body{
  background-image: url(http://s2.thingpic.com/images/EC/KdQvt4vNuWehY4g6NcNT5gjY.jpeg);
}
h1{
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
}
